################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Service/obj/Debug
/Service/bin
/Api/bin/Debug/netstandard2.0
/Api/obj/Debug/netstandard2.0
/Api/obj
/Client/bin/Debug
/Client/obj/Debug
